
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.pdb
*.user
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
*.csproj.user
*.resharper*
*.suo
.DS_Store

NUnitLite.MonoDroid.Runner/Resources/Resource.designer.cs
NUnitLite.MonoDroid/Resources/Resource.designer.cs

